# Cache
__pycache__/

# Keys/Certs/Sessions/Storages and similar
*.pem
*.session
*.rdb

# Environments
*clearenv/
.env
*env/
*venv/
*ENV/
*VENV/

# IDE
.idea/

# Other
redisdata/
pgdata/
pyrightconfig.json
*.png
